#include<iostream>
using namespace std;

int main() {
	//While Loops
	int i = 3;
	while (i <= 33) {
		cout << "" << i << endl;
		i += 5;
	}
	char hungry;
	cout << "do you want a donut?" << endl;
	cin >> hungry;

	while (hungry == 'y') {
		cout << "DONUT" << " ";
		//choice == 0;
	}

	while  (hungry != 'y') {
		cout << "goodbye" << endl;
	}

	//Switch Statements
	char fishy;
	cout << "Whats your favorite fish? (g) (b) (s) (c)" << endl;
	cin >> fishy;
	switch (fishy) {
	case 'g':
		cout << "you get a goldfish aka a Gilbert" << endl;
		break;
	case 'b':
		cout << "you caught a bass" << endl;
		break;
	case 's':
		cout << "you were bitten by a shark" << endl;
		break;
	case 'c':
		cout << "you caught a cod fish but he doesn't seem do relate to the video game francise COD in any way" << endl;
		break;
	default:
		cout << "you were crushed by a blue whale (me personally, I wouldn't let that happen)" << endl;
	}

}
